build-libqmcv-Desktop-Debug
build-QCornerGuardInspector-Desktop-Debug
include
lib
RemoteSystemsTempFiles
test
libqmcv/libqmcv.pro.user
QCornerGuardInspector/QCornerGuardInspector.pro.user
libmcv/build/
libmcv/.cproject
libmcv/.project
libmcv/.settings/
.metadata
/images
iltest
QCornerGuardInspector/.cproject
QCornerGuardInspector/.project
